.espacio {
	margin: 50px 0px 50px 0px;
}

hr {
	background-color: black;
	height: 2px;
	margin: 75px 15px 25px 15px;
}

.exposiciones {
	padding-left: 15px;
}

.exposiciones h1 {
	font-size: 2em;
	font-weight: bold;
}

.exposiciones span {
	display: block;
}

.exposiciones a {
	font-weight: bold;
}

.exposiciones p {
	padding-top: 10px;
}

.autor {
	font-style: italic;
}