.noticia {
	min-height: 200px;
	margin-bottom: 10px;
}

.bloque-noticia h1 {
	font-size: 1.2em;
	font-weight: bold;
}

.bloque-noticia {
	width: 65%;
	font-size: 1.0em;
	display: inline-block;
	float: right;	
}

.foto-not {
	width: 30%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.texto-not {

}