.table {
	display: table;
}

figure.figure-text {
	overflow: hidden;
	position: relative;
}

img.foto {
	height: auto;
	max-width: 100%;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	transition: all 500ms;
}

figcaption.text-over-pic {
	background: rgba(0,0,0,0.5);
	color: white;
	height: 100%;
	max-height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

p.animated-text {
	font-size: 3.5em;
	position: absolute;
	top: 20%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	text-align: center;
}

span.titulo {
	float: left;
	font-weight: bold;
	width: 100%;
	display: block;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}

span.subtitulo {
	display: block;
	width: auto;
	text-align: center;
	bottom: -10px;
	min-width: 50px;

}

.slider figure:hover figcaption {
	opacity: 1;
}


.slider figure:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

.articulos-horizontal {
	padding: 0px 25px 25px 25px;
}

.articulos-horizontal figure:hover figcaption {
	opacity: 1;
}


.articulos-horizontal figure:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}


.articulos-horizontal figure:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.secondary {
	width: 30%;
	margin-top: 20px;
	display: inline-block;
	max-width: 30%;
}

.img-noright {
	margin-right: 4.46%;
}