.main p{
	margin: 30px auto;
	width: 80%;
	display: block;
}

.linea {
	display: block;
}

.doble {
	margin-bottom: 10px;
}

.cuadrado p {
	clear: both;
}

.foto {
	width: 80%;
	height: 80%;
	display: block;
	margin: 30px auto;
}

.foto-min {
	width: 48%;
	height: 45%;
	float: left;
	margin: 0 1% 2% 0;
}

.foto-min-der {
	width: 48%;
	height: 45%;
	float: left;
	margin: 0 0 2% 1%;
}

.foto-min-center {
	width: 48%;
	height: 45%;
	float: left;
	margin-left: 25%;
}

.container-foto-min {
	width: 80%;
	margin: 30px auto;
}

.rojo {
	color: red;
}

.fuente {
	display: block;
	margin-top: 20px;
}

.video {
	display: block;
	margin: 20px auto;
	width: 100%;
	height: 500px;
}